# =====================
# IntelliJ / CLion IDE files
# =====================
.idea/
*.iml

# =====================
# Java
# =====================
out/
*.class

# =====================
# C++ / CMake
# =====================
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Compiled executables
*.exe
*.out
main

# Object files
*.o
*.obj

# =====================
# Logs
# =====================
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db